# To see all available options, see conf/config.spec

# Strings must be single quoted.
[general]
	commandchars = '%'

[connection]
    name = 'Freenode'
	host = 'irc.freenode.net'
	nickname = 'SocBawt'
	[[channels]]
		[[["#botters-test"]]]
			autojoin = True

